* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, i {
  text-rendering: optimizeLegibility;
}

a {
  color: black;
}

body {
  margin: 0;
  border: 1px solid black;
}

body .hidden {
  display: none;
}

body a {
  text-decoration: none;
}

@media (min-width: 1000px) {
  body {
    margin: auto;
    max-width: 85%;
  }
}

@media (min-width: 1500px) {
  body {
    max-width: 70%;
  }
}

nav {
  display: inline-block;
  height: 80px;
  width: 100%;
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, center, no-repeat, parent, parent);*/
  border-bottom: 5px solid black;
}

nav img {
  max-height: 60px;
  margin-top: 10px;
  margin-left: 15px;
  width: auto;
}

nav ul {
  float: right;
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, center, repeat, parent, parent); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 50%;
  padding: 0;
}

nav li {
  list-style-type: none;
  padding-left: .25em;
  padding-right: .25em;
}

nav li a {
  font-size: .75em;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

nav li li {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav li li a {
  font-size: 1.5em;
}

main #about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, center, repeat, parent, parent); */
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 5px solid black;
}

main #about .container h1 {
  flex: 100%;
  padding-top: .5em;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

main #about .container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, center, repeat, parent, parent);*/
  border: 1px solid black;
  border-left: 0;
  flex: 40%;
}

main #about .container ul h2 {
  margin: .25em;
  font-size: .9em;
}

@media (min-width: 1000px) {
  main #about .container ul h2 {
    font-size: 1.75em;
  }
}

main #about .container #aboutImg {
  display: flex;
  flex: 60%;
  background: url("/img/aboutImg.png");
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  width: parent;
  height: parent;
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

main #about .container button {
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

main #about .container button:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
  main #about .container ul {
    flex: 30%;
  }
  main #about .container #aboutImg {
    flex: 70%;
  }
}

main #projects {
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/projectBackground.png'), 100%, center, repeat, parent, parent); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 5px solid black;
}

main #projects h1 {
  text-align: center;
  margin: 0;
  margin-bottom: .5em;
  font-size: 2em;
  flex: 100%;
}

main #projects h2 {
  margin: 0;
  font-size: 1.25em;
}

main #projects p {
  margin: 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
}

main #projects .projectContainer {
  width: 40%;
  margin: 1em;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 690px) {
  main #projects .projectContainer {
    width: 90%;
  }
}

main #projects .projectContainer .project .projectImage {
  border-bottom: 1px solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-size: 100%;
  height: 300px;
}

main #projects .projectContainer .project #project1Image {
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project1.png'), 120%, center, no-repeat, 100%, 200px); */
}

@media (min-width: 1000px) {
  main #projects .projectContainer .project #project1Image {
    background-size: 100%;
    height: 300px;
  }
}

main #projects .projectContainer .project #project2Image {
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project2.png'), 120%, center, no-repeat, 100%, 200px); */
}

@media (min-width: 1000px) {
  main #projects .projectContainer .project #project2Image {
    background-size: 100%;
    height: 300px;
  }
}

main #projects .projectContainer .project #project3Image {
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project3.png'), 120%, center, no-repeat, 100%, 200px); */
}

@media (min-width: 1000px) {
  main #projects .projectContainer .project #project3Image {
    background-size: 100%;
    height: 300px;
  }
}

main #projects .projectContainer .project #project4Image {
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project4.png'), 120%, center, no-repeat, 100%, 200px); */
}

@media (min-width: 1000px) {
  main #projects .projectContainer .project #project4Image {
    background-size: 100%;
    height: 300px;
  }
}

main #projects .projectContainer .project .projectTitle {
  width: 100%;
  text-align: center;
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, parent, no-repeat, parent, parent); */
}

main #projects .projectContainer .project .projectText {
  padding: .5em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, center, parent, parent, parent); */
  /* ADD CUSTOM IMAGE HERE background: url('/img/.png'); */
  background-size: 100%;
  background-position: center;
}

footer #footerNavContainer {
  margin-bottom: 1em;
}

footer #footerNavContainer .footerNavItem {
  margin-left: .75em;
  margin-right: .75em;
}

footer #footerContactContainer {
  margin-bottom: 1em;
}

footer #footerContactContainer p {
  margin: 0;
}

footer #footerSocialMediaContainer {
  margin-bottom: 1em;
}

footer #footerSocialMediaContainer .footerSocialMediaItem {
  margin-left: .5em;
  margin-right: .5em;
}
