@import 'variables';
@import'mixins';

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-rendering: optimizeLegibility;
    font-family: 'Roboto';
}

a {
    color: black;
}

body {
    margin: 0;
    border: 1px solid black;
    background-color: gray;
    .hidden {
        display: none;
    }
    a {
        text-decoration: none;
    }
}

@media (min-width: 1000px) {
    body {
        margin: auto;
        max-width: 85%;
    }
}

@media (min-width: 1500px) {
    body {
        max-width: 70%;
    }
}

nav {
    display: inline-block;
    height: 80px;
    width: 100%;
    background-color: lightgrey;
    border-bottom: 5px solid black;
    img {
        max-height: 60px;
        margin-top: 5px;
        margin-left: 5px;
        width: auto;
    }
    ul {
        float: right;
        @include custom-image(url('/img/grid.png'), 100%, center, repeat, parent, parent);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        border: 1px solid black;
        border-right: 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        min-height: 50%;
        padding: 0;
    }
    li {
        list-style-type: none;
        padding-left: .25em;
        padding-right: .25em;
        
        a {
            font-size: .75em;
            text-decoration: none;
            color: gray;
        }
        a:hover {
            text-decoration: underline;
        }
        li {
            padding-left: 0.5em;
            padding-right: 0.5em;
            a {
            font-size: 1.5em;
            }
        }
    }
}

main {

    #about {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: fit-content;
            background-color: darkblue;
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 5px solid black;
            h1 {
                flex: 100%;
                padding-top: .5em;
                text-align: center;
                font-size: 1.5em;
                margin: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                list-style-type: none;
                padding: 0;
                margin: 0;
                @include custom-image(url('/img/grid.png'), 100%, center, repeat, parent, parent);
                border: 1px solid black;
                border-left: 0;
                flex: 40%;
                h2 {
                    margin: .25em;
                    font-size: .9em;
                    color: gray;
                }

                @media (min-width: 1000px) {
                    h2 {
                        font-size: 1.75em;
                    }
                }
            }
            #aboutImg {
                display: flex;
                flex: 60%;
                @include custom-image(url('/img/aboutImg.png'), 150%, center, no-repeat, parent, parent);
                background-position: center;
                background-size: 150%;
                background-repeat: no-repeat;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }

            button {
                margin: auto;
                margin-top: 1em;
                padding: 1em;
                border: 1px solid black;
                border-radius: 5px;
            }
            button:hover {
                cursor: pointer;
            }
            @media (min-width: 1000px) {
                ul {
                    flex: 30%;
                }
                #aboutImg {
                    flex: 70%;
                }
            }
        }
    }

    #projects {
    @include custom-image(url('/img/projectBackground.png'), 100%, center, repeat, parent, parent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 5px solid black;
        h1 {
        text-align: center;
        margin: 0;
        margin-bottom: .5em;
        font-size: 2em;
        flex: 100%;
        color: gray;
        }
        h2 {
        margin: 0;
        margin-bottom: .25em;
        font-size: 1.25em;
        text-align: center;
        color: gray;
        }
        p {
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 1em;
        color: gray;
        }
        .projectContainer {
        width: 40%;
        margin: 1em;
        border: 1px solid gray;
        border-radius: 5px;
        box-sizing: border-box;
        @media screen and (max-width: 690px) {
            width: 90%;
        }
            .project {
                .projectImage {
                    border-bottom: 1px solid gray;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    background-size: 100%;
                    height: 300px;
                }
                #project1Image {
                    /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project1.png'), 120%, center, no-repeat, 100%, 200px); */
                    @media (min-width: 1000px) {
                        background-size: 100%;
                        height: 300px;
                    }
                }           
                #project2Image {
                    /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project2.png'), 120%, center, no-repeat, 100%, 200px); */
                    @media (min-width: 1000px) {
                        background-size: 100%;
                        height: 300px;
                    }
                }
                #project3Image {
                    /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project3.png'), 120%, center, no-repeat, 100%, 200px); */
                    @media (min-width: 1000px) {
                        background-size: 100%;
                        height: 300px;
                    }
                }
                #project4Image {
                    /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/project4.png'), 120%, center, no-repeat, 100%, 200px); */
                    @media (min-width: 1000px) {
                        background-size: 100%;
                        height: 300px;
                    }
                }
                .projectText {
                    padding: .5em;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    @include custom-image(url('/img/grid.png'), 100%, parent, no-repeat, parent, parent);
                }
            }
            
        }
    }
}





footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*ADD CUSTOM IMAGE HERE @include custom-image(url('/img/.png'), 100%, center, parent, parent, parent); */
    /* ADD CUSTOM IMAGE HERE background: url('/img/.png'); */
    background-size: 100%;
    background-position: center;
    
    #footerNavContainer {
        margin-bottom: 1em;
        a {
        }
        a:hover {
        }
        .footerNavItem {
            margin-left: .75em;
            margin-right: .75em;
        }
    }

    #footerContactContainer {
        margin-bottom: 1em;
        p {
            margin: 0;
        }
    }

    #footerSocialMediaContainer {
        margin-bottom: 1em;
        a {
        }
        .footerSocialMediaItem {
            margin-left: .5em;
            margin-right: .5em;
        }
    }

    #footerCopyrightContainer {
        p {
            
        }
    }
}
